#avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #d5d9d9;
  margin-right: 5px;
}

.account-menu {
  display: flex;
  flex-direction: column;
}

#acct-info {
  display: flex;
  flex-direction: row;
}
