.main-page {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

#heading {
  display: flex;
  align-items: center;
}

#headings {
  width: 80%;
  align-items: center;
  text-align: center;
}

#account-div {
  width: 20%;
}

#main-heading {
  margin-bottom: 0px;
}

#subheading {
  margin-top: 0px;
}

#main-container {
  display: flex;
  justify-content: space-between;
}