@import url('https://fonts.cdnfonts.com/css/comic-sans');

/* variables */
:root {
  --border-radius: 8px;
  --font: 'Comic Sans', sans-serif;
}

/* General styling */
body{
  font-family: var(--font);
}

/* just to see divs */
/* div {
  border: 1px solid #00a4a4;
} */

input {
  font-family: var(--font);
  font-size: 12px;
  margin: 3px 5px 3px 0px;
  border-radius: var(--border-radius);
  padding: 10px;
  border: 1px solid #d5d9d9;
  width: 300px;
}

button {
  font-family: var(--font);
  border-radius: var(--border-radius);
  border: 1px solid #d5d9d9;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  width: 75px;
}

button:hover:enabled {
  background-color: #3f9f42;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
